.color-ligth,
i {
  color: white;
}

.line-pefor {
  border-bottom: 3px solid #ffffff;
}

.line-pefor {
  height: 4px;
  width: 80px;
  background-color: white;
}

.HW {
  height: 100vh;
  width: 1905px;
  background-color: #1abc9c;
}

.custom-paragraph {
  font-size: 18px;
  line-height: 1.6;
  color: white !important;
  text-align: left;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; /* خط مشابه */
}
